.section{
	margin-top: 10px;
    margin-bottom: 20px
} 

.flip-container {
    margin: 0 auto;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    float: left;
    margin-right: 25px;
  }
  
.flip-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}


.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    position: relative;
  }

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 1;
    background: #fff;
    
}

.flip-container, .front, .back {
    width: 250px;
    height: 350px;
    
}

.flip-padding {
    padding: 20px;
  }

.profile-picture {
    width: 249px;
    height: 250px;
  }

.profile-devider {
    width: 100%;
    height: 4px !important;
    background: #07B288;
    position: relative;
    margin: 0 auto;

}
.profile-devider:after {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #07B288 transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: 135px;
}

.profile-name {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 0px;
  }

.tags {
    overflow: hidden;
    margin-bottom: 10px;
}
.tags li {
	float: left;
}
.tags li a {
	display: block;
	background: #666;
	padding: 1px 12px;
	border-radius: 100px;
	font-size: .75em;
	margin: 0 5px 5px 0;
	color: white;
	text-decoration: none;
}


.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    background: black;
  }
  
.back h5{
    margin-top: 15px;
    text-align: center;
    color: whitesmoke;
}

.back p{
    text-align: center;
    color: whitesmoke;
}



button {
    margin: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 14px 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.25s;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
  }
  
  button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.18);
    transform: translateY(-2px);
    transition: 0.25s;
  }
    
  .follow-button {
    background-color: tomato;
    color: white;
    margin-top: 20px; 
    font-size: 22px;
  }
  