{% extends "layout.html" %}

<div id="sc-edprofile">
  <h1>Edit Profile Form</h1>
  <div class="sc-container">
    <input type="text" placeholder="Username" />
    <input type="text" placeholder="Email Address" />
    <input type="password" placeholder="Password" />
    <input type="text" placeholder="Website" />
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Last Name" />
    <textarea placeholder="Bio" /></textarea>
    <select>
      <option value="">Male</option>
      <option value="">Female</option>
    </select>
    <input type="text" placeholder="Facebook Profile URL" />
    <input type="text" placeholder="Twitter Profile URL" />
    <input type="text" placeholder="Google+ Profile URL" />
    <input type="text" placeholder="LinkedIn Profile URL" />
    <input type="submit" value="Register" />
  </div>
</div>

{% block content %}
    <div class="container">
      <div id="sc-edprofile">
      <h1>Edit Profile</h1>
      <div class="sc-container">
        <form action="" method="post" enctype="multipart/form-data">
          <div>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.email.label }}<br>
                {{ form.email(cols=50, rows=4) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <div class="form-group">
              {{ form.profilepic.label() }}
              {{ form.profilepic(class="form-control-file") }}
              {% if form.profilepic.errors %}
                {% for error in form.profilepic.errors %}
                  <span class = "text-danger">{{ error }}</span></<br>>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <p>{{ form.submit() }}</p
        </form>
      </div>

      </div>
      </div>

{% endblock %}
