{% extends "profilelayout.html" %}
{% block content %}
<div class="pfl-wrapper">
	<article>
		<div class="profile-photo">
      <img src="static/profilepics/{{current_user.image_file}}" width="130" height="130" />
    </div>
		<div class="profile-info">
      <h1>{{ current_user.firstname }} {{ current_user.lastname}}</h1>
      <h5>{{ current_user.email }}</h5>
			<!-- <p>Creative technologist <a href="http://fiascodesign.co.uk/" target="_blank">@FiascoDesign</a>. Maker of web things. Joint owner <a href="http://mountainandco.uk/" target="_blank">@mountainandco</a>.</p> -->
		</div>
		<div class="col-xs-12">
			<!-- <div class="col-md-4 people">
				<a href="https://codepen.io/nickylew/" class="col-xs-12 col-lg-6 round-tile">
					<div class="roundal codepen"></div>
					<h4>CodePen</h4>
				</a>
				<a href="https://www.instagram.com/nickylewlew/" class="col-xs-12 col-lg-6 round-tile">
					<div class="roundal instagram"></div>
					<h4>Instagram</h4>
				</a>
				<a href="https://twitter.com/nickylewlew/" class="col-xs-12 col-lg-6 round-tile">
					<div class="roundal twitter"></div>
					<h4>Twitter</h4>
				</a>
      </div> -->
      <div class="col-md-2 people"></div>
			<div class="col-md-8 posts">
				<div class="col-xs-12 col-lg-12 col-xl-6 tile">
					<div class="inner">
            <h4>Primary Programming Languages</h4>
            <h5>{{ selected_interests[0]}} and {{selected_interests[1]}}</h5>
					</div>
				</div>
				<div class="col-xs-12 col-lg-12 col-xl-6 tile">
					<div class="inner">
            <h4>Database Knowledge</h4>
            <h5>{{ selected_interests[2]}}</h5>
					</div>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-6 tile">
					<div class="inner">
            <h4>Primary Database Management System</h4>
            <h5>{{ selected_interests[3]}}</h5>
					</div>
				</div>
				<div class="col-xs-12 col-lg-12 col-xl-6 tile">
					<div class="inner">
            <h4>Current Field of Interest</h4>
            <h5>{{ selected_interests[4]}}</h5>
					</div>
				</div>
				<div class="col-xs-12 col-lg-12 col-xl-6 tile">
					<div class="inner">
            <h4>Experience Level</h4>
            <h5>{{ selected_interests[6]}}</h5>
					</div>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-6 tile">
					<div class="inner">
            <h4>Type of Programmer</h4>
            <h5>{{ selected_interests[5]}}</h5>
					</div>
        </div>
			</div>
    </div>
  </article>
  
  <div class="border-top pt-8">
    <meduim class="text-muted">
      <a class="ml-2" href="{{ url_for('edit_profile') }}">Edit Account</a>
      <a class="ml-2" href="{{ url_for('edit_interests') }}">Edit Profile</a>


    </meduim>
  </div>
</div>

<!-- <div class="content-section">
  <div class="media">
    <div class="row">
      <div class="container2">
        <img src="static/profilepics/{{current_user.image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.firstname }} {{ current_user.lastname}}</h2>
            <div class="column">
              <ul>
                <p style="font-size: 20px"><b>User Information</b></p>
                <p><b>Username: </b>{{ current_user.username }}</p>
                <p><b>Birth Day:</b> {{ current_user.date_of_birth }}</p>
                <p><b>Contact through Email: {{ current_user.email }}:</b></p>
              </ul>
          </div>

          <div class="column">
            <ul>
              <p style="font-size: 20px"><b>Interests</b></p>
              <p><b>Favorite Programming Language: </b>{{ selected_interests[0]}}</p>
              <p><b>Second Favorite Programming Language: </b>{{ selected_interests[1]}}</p>
              <p><b>Knowledge of Databases: </b>{{ selected_interests[2]}}</p>
              <p><b>Favorite Database Management System: </b>{{ selected_interests[3]}}</p>
              <p><b>Field Of Interest: </b>{{ selected_interests[4]}}</p>
              <p><b>Type of Programmer: </b>{{ selected_interests[5]}}</p>
              <p><b>Experience Level: </b>{{ selected_interests[6]}}</p>
            </ul>
          </div>

          </div>
        </div>
      </div>
    </div> -->

  <!-- </div> -->
{% endblock content %}
