{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 10px; text-align: center;">All Messages</h1>
    {% for post in messages %}
        {% include 'messagelayout.html' %}
    {% endfor %}
    <div class="row">
        <div class="col-sm-3">
        <div class="button-area">
            <a href="{{ prev_url or '#' }}" class="button between">

                <i class="fa fa-arrow-left"></i>
                <span>Older Messages</span>
            </a>    
        </div>
        </div>
        <div class="col-sm-6"></div>

                <!-- <a class=arrow href="{{ prev_url or '#' }}">
                     Newer Messages
                </a> -->
        <div class="col-sm-3">
        <div class="button-area">
            <a href="{{ next_url or '#' }}" class="button between">
                <span>Newer Messages</span>
                <i class="fa fa-arrow-right"></i>
            </a>    
        </div>
        </div>
        <!-- <div>
            <a class="arrbutton" href="{{ next_url or '#' }}"><span>Older Messages</span></a>
        </div> -->
  </div>
</div>  
{% endblock %}
