<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='profile.css')}}">


    {%if title %}
      <title>Developers Connect</title>
    {%else %}
      <title>Developers Connect </title>
    {%endif %}
  </head>
  <body>

      <header id="page-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Developers Connect</a>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                  <a class="nav-item nav-link" href="{{ url_for('messages') }}">Messages
                    {% set new_messages = current_user.new_messages() %}
                    <span id="message_count" class="badge"
                          style="visibility: {% if new_messages %}visible
                                             {% else %}hidden {% endif %};">
                        {{ new_messages }}
                    </span>
                  </a>
                  <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>


                  {% else %}
                  <a class="nav-item nav-link" href="/login">Login</a>
                  <a class="nav-item nav-link" href="/register">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>


      {% block content %}


      {% endblock %}

      

      {% block scripts %}
    <script>
        // ...
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
    </script>

    <script>

        if (current_user.is_authenticated) {
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        }
    </script>
{% endblock %}




      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  </body>
</html>
